.sub-heading-section
    padding-top: 6em !important
    .breadcrumbs
        font-family: $primary-font
        font-size: .8em
        margin-top: 2em
        .current-item
            opacity: .5
    
.page-id-281
    .sub-heading-section
        height: auto

.page-id-162
    .sub-heading-section
        height: auto

.page-id-59
    .sub-heading-section
        height: auto

.page-id-156
    .sub-heading-section
        height: auto

.page-id-445
    .sub-heading-section
        height: auto